<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category_id %>
</p>

<p>
  <strong>Website link:</strong>
  <%= @event.website_link %>
</p>

<p>
  <strong>Date and time:</strong>
  <%= @event.date_and_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Organizer name:</strong>
  <%= @event.organizer_name %>
</p>

<p>
  <strong>Organizer email:</strong>
  <%= @event.organizer_email %>
</p>

<p>
  <strong>Affiliated organization:</strong>
  <%= @event.affiliated_organization_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
